[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = {version = "~=0.5", extras = ["asyncio"]}
mongoengine = "*"
pendulum = "*"
awesome-slugify = "*"
bcrypt = "*"
ujson = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
