{% extends "base.jinja2" %}
{% set page_title = "Import Matches" %}
{% set current_season = get_curr_season() %}
{% block content %}
    <div class="pusher">
        <div class="ui container">
            <div class="ui two column stackable grid">
                <div class="column">
                    Import matches from a CSV file

                    <form class="ui form {% if errors %}error{% endif %}" method="post"
                          action="{{ url_for('csv.import_csv') }}" enctype="multipart/form-data">
                        {% if errors %}
                            {% for error in errors %}
                                <div class="ui message error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="field">
                            <label>Season</label>
                            <input type="number" name="season"
                                   placeholder="{{ current_season }}"
                                   min="1" max="{{ current_season }}">
                        </div>
                        <div class="field">
                            <label>CSV File</label>
                            <input type="file" name="csv_file" accept="text/csv"/>
                        </div>
                        <button class="ui button green" type="submit">
                            Import Matches
                        </button>
                    </form>
                </div>
                <div class="column">
                    NOTES HERE
                </div>
            </div>
        </div>
    </div>

{% endblock %}
