{% macro render_field(field) %}
    {% if field.type == 'MultiCheckboxField' %}
        <div class="inline fields">
            {{ field.label }}
            {% for subfield in field %}
                <div class="field">
                    <div class="ui checkbox">
                        {{ subfield }} {{ subfield.label }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="field">
            {{ field.label }}
            {{ field(**kwargs)|safe }}
        </div>
    {% endif %}
    {% if field.errors %}
        <div class="ui error message">
            <div class="header">We had some issues</div>
            <ul class="list">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                    </ul>
                    </div>
                {% endfor %}
    {% endif %}
{% endmacro %}
