<html>
<head>
    <title>
        {% if page_title %}
            {{ page_title }} - WatchMeLog
        {% else %}
            WatchMeLog
        {% endif %}
    </title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
